
.text-purple{
    color:#BB86FC;
}
body{
    background-color: white ;
    max-width:2000px;
    margin: auto;
}
#app {
    display: none;
    height:100%;
    width:100%;
}
.app{
    padding-top:30vh;
    height:100%;
    width:100%;
    text-align:center;
}
.app:after { 
    position: absolute;
    border: 1px solid #0c8ad9;
    content:"";
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    pointer-events:none;
} 

.home-button, .home-title  {
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home-button {
   border: 2px solid #1c3e8d;
   padding: 35px;
   font-size: 20px;
   font-weight: 500;
   cursor: pointer;
   color:white;
   background-color:#009dff;
   margin-top:100px;
}
.home-button:hover {
    border-color: #646cff;
}
.back-button{
   border: 2px solid #000000;
   padding: 20px 100px;
   font-size: 16px;
   cursor: pointer;
   color:black;
   background-color:#ffffff;
   margin-top:100px;
}
li {
     list-style:none;
}
.bg-grey{
    background-color:#242424;
}
.row>* {
    padding-right:0;
    padding-left:0;
}
.sidebar{
    height:100vh;
    border-right:0.5px solid rgb(53, 53, 53);
    padding: 0 20px;
    background-color:rgb(29, 29, 29);
}
.rightside{
    position: relative;
}
.countdown{
    position:absolute;
    top: 40%;
    left: 40%;
}
.countdown p {
    font-size:80px;
    font-weight:bold;
}
p {
    margin:0;
}
.typing-word {
    font-size:12px;
}
.text-gray{
    color:#7c7c7c;
}
.text-blue{
    color:#529dff;
}
.bg-black{
    background-color:#242424;
}
.textWhite{
    color:white !important;
}