
.text-purple{
    color:#BB86FC;
}
body{
    background-color: #242424;
    padding:30px;
}
#app{
    padding-top:30vh;
    border:1px solid #BB86FC;
    height:100%;
    width:100%;
    text-align:center;
}

.home-button, .home-title  {
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home-button {
   border: 2px solid #BB86FC;
   padding: 35px;
   font-size: 20px;
   font-weight: 500;
   cursor: pointer;
   color:#242424;
   background-color:#9B59B6;
   margin-top:100px;
}
.home-button:hover {
    border-color: #646cff;
  }